<%= if @post do %>

  <%= link "Next one", to: "/posts?page=#{@next_page}" %>
  <br>

  <%= for work <- Enum.sort(@post.works, &(&1.type > &2.type)) do %>
    <%= work.type %>
    <br>
    <img src="<%= work.image_url %>" alt=""/>
    <br>
  <% end %>

  <p><%= @post.description %></p>

<% else %>
  You can add a post about the original work and the copy.
<% end %>
