/* Space out content a bit */
body, form, ul {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
}

.work {
  width: 50%;
  margin: 0;
  height: 80%;
}
#original {
  float: left;
  img {
    float: right;
    margin-right: 10px;
    max-width: 90%;
  }
}
#copy {
  float: right;
  img {
    float: left;
    margin-left: 10px;
    max-width: 90%;
  }
}
