@import 'shadow';

#new_post { text-align: center; }

#new_post .img-wrapper {
  .preview {
    @extend %work-shadow;
    height: 300px;
    width: 500px;
    max-width: 500px;
  }
}

#new_post .original .img-wrapper {
  max-width: 80%;
}

.description textarea {
  width: 81%;
  text-align: center;

  border: none;
  outline: none;
  resize: none;
}

$dark:  #444444;
$light: #999999;
$white: #FFFFFF;

#new_post div.submit {
  text-align: center;
  input {
    border: 0 none;
    color: $white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 16.795%; /* auto */

    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
}

#new_post input.email {
  border: none;
  outline: none;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}
