@import 'shadow';

#new_post .img-wrapper {
  .preview {
    @extend %work-shadow;
    height: 300px;
    width: 500px;
    max-width: 90%;
  }
}

#new_post .original .img-wrapper {
  max-width: 80%;
}

.description textarea {
  width: 81%;
  text-align: center;

  border: none;
  outline: none;
  resize: none;
}
