@import 'shadow';

.work {
  height: 80%;
  margin: 0;
  width: 50%;

  .img-wrapper {
    max-width: 90%;

    img {
      @extend %work-shadow;
      width: 100%;
    }

    .icon {
      clear: both;
      display: block;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 10px;
      width: 20px;
      color: #444444;
    }
  }
}

.original.work {
  float: left;

  .img-wrapper {
    float: right;
    margin-right: 10px;
  }
}

.copy.work {
  float: right;

  .img-wrapper {
    float: left;
    margin-left: 10px;
  }
}

.description {
  text-align: center;
}
